<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Spring Security Demo</title>
</head>
<body>
<p>欢迎您，用户名:<span sec:authentication="name"></span>,当前用户角色位:
    <span sec:authentication="principal.authorities"></span></p>
<h1>登录成功</h1>
<a th:href="@{/logout}">退出</a>
<ul>
    <li sec:authorize="hasAnyRole('ROLE_admin')"><a th:href="@{/role/admin}">管理员数据</a></li>
    <li sec:authorize="hasAnyRole('ROLE_admin,ROLE_teacher')"><a th:href="@{/role/teacher}">老师数据</a></li>
    <li sec:authorize="hasAnyRole('ROLE_admin,ROLE_student')"><a th:href="@{/role/student}">学生数据</a></li>
</ul>
</body>
</html>