<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
</head>
<body>
<form action="/login" method="post">
    <h1>登录页面</h1>
    用户名：<input type="text" name="username"><br/>
    密码：<input type="password" name="password"><br/>
    <label for="remember-me">自动登录</label><input id="remember-me" type="checkbox" name="remember-me"><br/>
    <input type="submit" value="login">
    <p></p>
</form>
</body>
</html>